<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KomuNect</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="bg-[#F0F8FF] font-sans antialiased text-gray-800">

    <main role="main">
        @RenderBody()
    </main>

    <script src="//unpkg.com/alpinejs" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>